body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  height: 100%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(170, 214, 255);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(247, 247, 247);
  color: black;
}

.nav_profile_name {
    margin: 0 auto;
    font-size: 24pt;
    color: maroon;
    padding-left: 50%;
}

/* Style the content */
.content {
  background-color: rgb(247, 247, 247);
  padding: 10px;
  font-size: 14pt;
}

/* Style the footer */
.footer {
  background-color: #e0e0e0;
  padding: 10px;
  margin-top: 50px;
}

.page_header {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18pt;
}

.ration_table {
  border: 1px solid black;
  padding: 8px;
  width: 100%;
}

.ration_table tr:nth-child(even) {
  background-color: #dddddd;
}

.ration_table input {
    width: 100%;
    box-sizing: border-box;
}