{% extends "common.html" %}

{% block content %}

    <div class="page_header">Overview</div>
    <!-- Current date & date picker -->
    <div style="margin: 5px;">
        <form action="/overview_choose_date" method="POST">
            <label for="date">Target date:</label>
            <input type="date" id="date" name="date" value="{{target_date}}">
            <input type="submit" value="Change">

            {% if target_date != today %}
            <span style="margin: 5px; font-style: italic; color:darkviolet;">
                ...............Modifying historical data.................
            </span>
            {% endif %}
        </form>
    </div>
    <!-- Ration table -->
    <div style="margin: 5px;">
        <form action="/save_intake" method="POST">
            <table class="ration_table">
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Period</th>
                    <th>Current Intake</th>
                </tr>
                <!-- rows from input ration dict -->
                {% for row in ration %}
                <tr>
                    <td>{{ row['item'] }}</td>
                    <td>{{ row['quantity'] }}</td>
                    <td>{{ row['period'] }}</td>
                    <td>
                        <div class="slidecontainer">
                            <input class="slider" type="range" min="0" max="100"
                             value="{{row['intake']}}" name="{{row['item']}}">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input type="hidden" value="{{target_date}}" name="target_date">
            <input type="submit" value="Save changes">
        </form>
    </div>

{% endblock %}